[Unit]
Description = TwelveFactorApi Service
After network.target = TwelveFactorApi.service

[Service]
Type = forking
ExecStart = /usr/local/bin/TwelveFactorApi.sh start
ExecStop = /usr/local/bin/TwelveFactorApi.sh stop
ExecReload = /usr/local/bin/TwelveFactorApi.sh reload

[Install]
WantedBy=multi-user.target
